:root  {
    --blue: rgba(33, 150, 243, 1);
    --black:rgba(33, 33, 33, 1);
    --gray:rgba(117, 117, 117, 1);
    --white:rgba(255, 255, 255, 1);
    --light-gray:rgba(245, 244, 250, 1);
    --light-black:rgba(238, 238, 238, 1); 
    --border-color:rgba(236, 236, 236, 1);
}

.header-logo-text {
    color: var(--blue);
    font-size: 26px;
}

.header-logo-text-second {
    color: var(--black);
    font-size: 26px;
}

.header-logo {
    list-style: none;
    display: flex;
    font-family: Raleway;
    font-weight: bold;
}
.header-nav, .header-contact {
    list-style: none;
    display: flex;
}
.header-nav-link, .header-contact-link {
    font-family: Roboto;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header-list {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 32px 0px 32px 0px; 
    margin: 0;
    
}
h1 {
    font-family: Roboto;
    font-size: 44px;
    list-style: none;
    color:var(--white);
    width: 50%;
    text-align: center;
    margin: 0px;
}
.main-banner-button {
    font-family: Roboto;
    font-weight: bold;
    background-color: var(--blue);
    width: 216px;
    height: 50px;
    border: var(--blue);
    border-radius: 5px 5px 5px 5px;
    margin-top: 30px;
}
body 
{
    font-family: Roboto;
}
.main-services-list {
    display: flex;
    list-style:none;
    padding-top: 93px;
    padding-bottom: 94px;
}
.main-services-description
{
    color: var(--gray);
    letter-spacing: 3%;
}
.main-services-title, h2 {
    color: var(--black);
    font-family:Roboto;
    font-weight: bold;
    letter-spacing: 3%;
}
.team-name
{
    color: var(--black);
    font-family:Roboto;
    font-size: 16px;
    letter-spacing: 3%;
    font-weight: 500;
}
.team-role {
    color: var(--gray);
    font-weight: normal;
    font-family: Roboto;
    font-size: 16px;
}
.footer-logo-text {
    color: var(--blue);
    font-size: 26px;
}

.footer-logo-text-second {
    color: var(--white);
    font-size: 26px;
}

.footer-logo {
    list-style: none;
    display: flex;
    font-family: Raleway;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 0px;
}
.footer-info-text {
    font-weight: normal;
    font-family: Roboto;
    color: var(--white);
}
.footer-info {
    list-style: none;
    margin-top: 20px;
    padding-bottom: 60px;
    font-size: 14px;
    line-height: 24px;
}
.footer-info-link {
    font-family: Roboto;
    text-decoration: none;
    color: var(--gray);
    font-weight: normal;
}
body {
    font-family: Roboto;
}
.main-portfolio {
    margin-top: 96px;
}
.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
.main-nav-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,625;
    letter-spacing: 3%;
    margin-right: 8px;
    font-family: Roboto;
    width: 114px;
    height: 38px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--light-black);
    border-color: var(--light-black);
}
.portfolio-item-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 3%;
    color: var(--gray);
}
.portfolio-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
}
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 92px;
}
.portfolio-item {
    padding-bottom: 20px;
}
.main-gallery-list, .team-list {
    list-style: none;
    padding-top: 50px;
    padding-bottom: 124px;
    display: flex;
    margin: 0px;
    justify-content: space-between;
}
.container {
    width:1170px;
    margin:0 auto;
    padding:0 15px;
}
.main-banner {
    background-color: var(--black);
    padding: 200px 237px 200px 237px ;
    align-items: center;
}
.team-title {
    padding-top: 94px;
    text-align: center;
}
.main-gallery-title {
    text-align: center;
}
.team {
    background-color: var(--light-gray);
}
.footer {
    background-color: var(--black);
}