:root  {
    --blue: rgba(33, 150, 243, 1);
    --black:rgba(33, 33, 33, 1);
    --gray:rgba(117, 117, 117, 1);
    --white:rgba(255, 255, 255, 1);
    --light-gray:rgba(245, 244, 250, 1);
    --light-black:rgba(238, 238, 238, 1); 
    --border-color:rgba(236, 236, 236, 1);
    --dark-blue:rgba(47, 48, 58, 1);
    --form-modal-border:rgba(33, 33, 33, 0.2);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;

}
.backdrop .modal.show {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.is-hidden {
    pointer-events: none;
}
.modal {
    background-color: var(--white);
    left: 50%;
    top: 50%;
    position: absolute;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px ;
    transform: translate(-50%, 100%);
    transition: all ease-in-out 1s;
}
.backdrop:not(.is-hidden) .modal {
    transform: translate(-50%, -50%);
    opacity: 1;
}
/* .modal.show {
    transform: translate(-50%, -50%);
    opacity: 1;
} */
.modal-section {
    width: 528px;
    height: 551px;
    padding: 40px;
}
.btn-close {
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 5px 11px;
    text-align: center;
    position: absolute;
    left: 486px;
    top: 8px;
}
.modal-comment {
    height: 120px;
}
.web {
    color: var(--blue);
    font-size: 26px;
    font-family: Raleway;
    font-weight: bold;
    padding-top: 60px;

}
.studio {
    color: var(--white);
    font-size: 26px;
    font-family: Raleway;
    font-weight: bold;
    padding-top: 60px;
}
.header-logo-text {
    color: var(--black);
    font-size: 26px;
    font-family: Raleway;
    font-weight: bold;
    padding: 24px 0px 25px 0px;
}
.header-logo {
    list-style: none;
    display: flex;
    font-family: Raleway;
    font-weight: bold;
}
.header-nav, .header-contact {
    list-style: none;
    display: flex;
}
.header-contact-link {
    color: var(--gray);
    font-family: Roboto;
    text-decoration: none;
    font-weight: 500;
}
.header-nav-link {
    font-family: Roboto;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav-site {
    display: flex;
    gap: 200px;
}
.header {
    display: flex;
}
header {
    border-bottom: 1px solid #ccc;
}
.header-list, .header-list-2 {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.header-nav-link:hover {
    color: var(--blue);
}
.header-contact-link:hover {
    color: var(--blue);
}
.header-list {
    padding-left: 93px;
}
h1 {
    font-size: 44px;
    color:var(--white);
    text-align: center;
    margin: 0px;
    letter-spacing: 6%;
    line-height: 60px;
}
/* .btn-open {
    font-weight: bold;
    background-color: var(--blue);
    width: 216px;
    height: 50px;
    border: var(--blue);
    border-radius: 5px 5px 5px 5px;
    margin-top: 30px;
    align-items: center;
    color: var(--white);
} */
.main-banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img/backgroundmain.png);
    background-repeat: no-repeat;
    background-position: center;
}
.banner {
    padding: 200px 237px 200px 237px ;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
body 
{
    font-family: Roboto;
}
.main-services-list {
    display: flex;
    list-style:none;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0px;
    padding-left: 0px;
    gap: 30px;
}
.main-services-description
{
    color: var(--gray);
    letter-spacing: 3%;
    line-height: 24px;
    font-size: 14px;
}
.main-services-title {
    color: var(--black);
    font-family:Roboto;
    font-weight: bold;
    letter-spacing: 3%;
    padding-bottom: 10px;
    font-size: 14px;
}
.main-gallery-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.team-item {
    background-color: var(--white);
    text-align: center;
}
.team-name
{
    color: var(--black);
    font-family:Roboto;
    font-size: 16px;
    letter-spacing: 3%;
    font-weight: 500;
    padding-top: 30px;
}
.team-role {
    color: var(--gray);
    font-weight: normal;
    font-family: Roboto;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer {
    background-color: var(--dark-blue);
    padding: 60px 0px;
}
.footer-info-text {
    font-weight: normal;
    font-family: Roboto;
    color: var(--white);
}
.footer-info-item {
    margin-bottom: 9px;
  }
.footer-info-item:last-child {
    margin-bottom: 0; 
  }
.footer-info {
    list-style: none;
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0px;
    margin-bottom: 0px;
}
.footer-info-link {
    font-family: Roboto;
    text-decoration: none;
    color: var(--gray);
    font-weight: normal;
}
.main-portfolio {
    margin-top: 96px;
}
.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
.main-nav-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
    margin-right: 8px;
    font-family: Roboto;
    padding: 6px 22px 6px 22px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--light-gray);
    border: none; 
    outline: none;
}
.main-nav-button:hover {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 2.5px 4px -1px rgba(117, 117, 117, 1) ;
}

.portfolio-item-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 3%;
    color: var(--gray);
    padding: 4px 24px 0px 24px;
}
.portfolio-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
    padding: 20px 24px 0px 24px;
}
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 34px;
    margin-bottom: 92px;
}
.portfolio-item {
    padding-bottom: 20px;
    border: 1px solid var(--light-gray);
    flex-basis: calc((100% - 90px) / 3);
}
.main-gallery-list, .team-list {
    list-style: none;
    padding-top: 50px;
    padding-bottom: 94px;
    display: flex;
    margin: 0px;
    gap: 30px;
    padding-left: 0px;
}
.container {
    width:1206px;
    margin:0 auto;
    padding:0 15px;
}
.team-title {
    padding-top: 94px;
    text-align: center;
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
}
.main-gallery-title {
    text-align: center;
}
.team {
    background-color: var(--light-gray);
}
.main-services-item-first::before {
    background-image: url(./img/antenna1.svg);
    content: '';
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-gray);
    display: flex;
    margin-bottom: 30px;
}
.main-services-item-second::before {
    background-image: url(./img/clock.svg);
    content: '';
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-gray);
    display: flex;
    margin-bottom: 30px;
}
.main-services-item-third::before {
    background-image: url(./img/diagram.svg);
    content: '';
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-gray);
    display: flex;
    margin-bottom: 30px;
}
.main-services-item-forth::before {
    background-image: url(./img/astronaut.svg);
    content: '';
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-gray);
    display: flex;
    margin-bottom: 30px;
}
.team-item {
    box-shadow: 0.3px 2px 2.5px -1.2px rgba(117, 117, 117, 1),
    -0.3px 2px 2.5px -1.2px rgba(117, 117, 117, 1);
}
.portfolio-item:hover {
    box-shadow: 1px 4px 6px -2px rgba(117, 117, 117, 1);
}

.team-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px 32px 42px 32px;
}
.team-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.team-icon-div:hover {
    background-color: var(--blue);
    transform: scale(1.1);
    border-radius: 50%;
}
.team-icon-div {
    color: #AFB1B8; 
}
.team-icon-div:hover {
    color: var(--white);
}
.header-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header-contact {
    color: var(--gray); 
}
.header-contact:hover {
    color: var(--blue);
}
.header-contact-link {
    text-decoration: none;
    color: inherit;
}
.partners-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 94px;
}
.partners-icon-item {
    text-decoration: none;
    color: inherit;
}
.partners-icon-border {
    color: rgba(175, 177, 184, 1);
    padding: 16px 32px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 5px;
}
.partners-icon-border:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
}
.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.footer-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon-div:hover {
    background-color: var(--blue);
    transform: scale(1.1);
    border-radius: 50%;
}
.footer-icon-div {
    color: var(--white); 
}
.footer-sec-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--white);
}
.footer .container {
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.main-gallery-box1 {
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.93;
    position: absolute;
    top: 210px;
    z-index: 2;
}
.main-gallery-item {
    width: 370px;
    position: relative;
    z-index: 1;
}
.main-gallery-box2 {
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.93;
    position: absolute;
    top: 210px;
    z-index: 2;
}
.main-gallery-box3 {
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.93;
    position: absolute;
    top: 210px;
    z-index: 2;
}
.modal-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
}
.modal-form {
    width: 448px;
    height: 40px;
    border: 1px solid var(--form-modal-border);
    border-radius: 5px;
    padding-left: 30px;
}
.modal-comment {
    width: 448px;
    height: 96px;
    border: 1px solid var(--form-modal-border);
    border-radius: 5px;
    color: var(--gray);
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1%;
    padding: 12px 16px;
    text-align: start;
}
.modal-form-must {
    color: var(--gray);
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1%;
    margin-bottom: 4px;
    margin-top: 10px;
}
.form-person {
    position: absolute;
    left: 54px;
    top: 100px;
}
.form-phone {
    position: absolute;
    left: 54px;
    top: 165px;
}
.form-mail {
    position: absolute;
    left: 54px;
    top: 230px;
}
.btn-close {
    font-size: 18px;
}
.modal-form-end {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    align-items: center;
}
.modal-form-end-input {
    border: 2px solid rgba(33, 33, 33, 1);
    width: 16px;
    height: 15px;
}
.modal-form-end-link {
    padding-left: 4px;
    color: var(--blue);
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    text-decoration: underline;
    text-decoration-style: solid;
}
.modal-form-end {
    margin-top: 20px;
}
.modal-form-end-button {
    padding: 10px 52px;
    background-color: var(--blue);
    border-radius: 4px;
    border: 1px solid var(--blue);
    color: var(--white);
    text-decoration:none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    margin-top: 30px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.end-button {
    justify-content: center;
    display: flex;
    
}
.modal-form-end-text {
    color: var(--gray);
}
.btn-open {
    padding: 10px 32px;
    background-color: var(--blue);
    border-radius: 4px;
    border: 1px solid var(--blue);
    color: var(--white);
    text-decoration:none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    margin-top: 30px;
}
.footer-form-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}
.footer-form-input {
    width: 358px;
    height: 50px;
    padding-left: 15px;
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 5px;
}
.footer-form-button {
    padding: 10px 62px 10px 28px;
    background-color: var(--blue);
    border-radius: 4px;
    border: 1px solid var(--blue);
    color: var(--white);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    margin-left: 8px;
}
.footer-form-icon {
    position: absolute;
    top: 14px;
    left: 510px;
}
/* .second:hover {
    border-bottom: 4px solid var(--blue);
    padding-bottom: 26px;
    padding-top: 30px;
    width: 72px;
    transition: border-bottom 1s linear;
    border-bottom: 4px solid red;
 }
.third:hover {
    padding-bottom: 26px;
    padding-top: 30px;
    width: 72px;
    transition: border-bottom 1s linear;
    border-bottom: 4px solid var(--blue);
 }  */
.third {
    position: relative;
    display: inline-block;
    padding: 30px 0 28px;
    width: 72px;
    overflow: hidden;
}
.third::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
  }
.third:hover::after {
    transform: scaleX(1);
} 
.first:hover::after {
    transform: scaleX(1)
 } 
.first {
    position: relative;
    display: inline-block;
    padding: 30px 0 28px;
    width: 48px;
    overflow: hidden;
}
.first::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
.second:hover::after {
    transform: scaleX(1)
 } 
.second {
    position: relative;
    display: inline-block;
    padding: 30px 0 28px;
    width: 80px;
    overflow: hidden;
}
.second::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
 .header-list {
    position: relative;
}
.st {
    color: var(--blue);
} 
.pr {
    color: var(--blue);
}
.st {
    border-bottom: 4px solid var(--blue);
    padding-bottom: 24px;
    padding-top: 30px;
    width: 48px;
}
.pr {
    border-bottom: 4px solid var(--blue);
    padding-bottom: 24px;
    padding-top: 30px;
    width: 72px;
}
.footer-div-icon {
    position: relative;
}
